@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/material-icons.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: -2px;
}
body {
    background-color: #fff;
    font-family: "Roboto regular", "Droid sans", sans-serif;
}
h2,
.mdl-card__title h2 {
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    display: block;
    width: 100%;
}
p {
    word-wrap: break-word;
}
main {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    margin-bottom: 83px;
}
.page-content {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px 10px 0;
    /*height: 100%;*/
    box-sizing: border-box;

}
.text-color-red {
    color: #ff0000 !important;
}
.hidden {
    display: none !important;
}
.inivisible {
    visibility: hidden;
}
.align-center {
    text-align: center;
}
.text-danger {
    color: red;
}
.text-color-blue {
    color: #000;
}
.oddadvice-pwa.mdl-layout .mdl-layout__header {
    background-color: #ffd42a;
    background-image: url("../images/logo.svg");
    background-position: calc(100% - 15px) center;
    background-size: auto 70%;
    background-repeat: no-repeat;
    z-index: 5;
    color: #2b1100;
}
.oddadvice-pwa.mdl-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: #2b1100;
    line-height: 2.2;
}
.oddadvice-pwa.mdl-layout .mdl-layout__header > .mdl-button.back-btn {
    color: #2b1100;
    display: block;
}
.oddadvice-pwa.mdl-layout .mdl-layout__content > .loading-overlay {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
}
.oddadvice-pwa.mdl-layout .mdl-layout__content > .loading-overlay > .loading-overlay-row {
    display: table-row;
}
.oddadvice-pwa.mdl-layout .mdl-layout__content > .loading-overlay > .loading-overlay-row > .loading-overlay-col {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.oddadvice-pwa.mdl-layout .mdl-layout__content > .loading-overlay .mdl-spinner > .mdl-spinner__layer-1 {
    border-color: #2b1100;
}
.oddadvice-pwa.mdl-layout .mdl-layout__content > .loading-overlay .mdl-spinner > .mdl-spinner__layer-2 {
    border-color: #ffd42a;
}
.oddadvice-pwa.mdl-layout .mdl-layout__content > .loading-overlay .mdl-spinner > .mdl-spinner__layer-3 {
    border-color: #ff0000;
}
.oddadvice-pwa.mdl-layout .mdl-layout__content > .loading-overlay .mdl-spinner > .mdl-spinner__layer-4 {
    border-color: #ffd42a;
}
.oddadvice-pwa.mdl-layout .mdl-card {
    width: 100%;
    margin: 0 0 10px;
    background-color: white;
    min-height: initial;
    display: none;
    box-shadow: none;
}
.oddadvice-pwa.mdl-layout .mdl-card h3.quote:before,
.oddadvice-pwa.mdl-layout .mdl-card h3.quote:after {
    display: block;
    font-size: 3em;
    margin-top: 0.5em;
}
.oddadvice-pwa.mdl-layout .mdl-card h3.quote:before {
    content: open-quote;
}
.oddadvice-pwa.mdl-layout .mdl-card h3.quote:after {
    content: close-quote;
}
.oddadvice-pwa.mdl-layout .testimonial.mdl-card .mdl-card__title {
    color: white;
    background-color: #82bc00;
}
.oddadvice-pwa.mdl-layout .mdl-button.full-width {
    width: 100%;
    font-size: 1.5rem;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    font-weight: normal;
    background-color: #f2f2f2;
    height: auto;
    display: block;
}
.oddadvice-pwa.mdl-layout .mdl-button:not([disabled]) {
    color: #000;
}
.oddadvice-pwa.mdl-layout .mdl-button.mdl-button--colored {
    background-color: #000;
    color: white;
}
.oddadvice-pwa.mdl-layout .mdl-card__supporting-text {
    line-height: 24px;
    font-size: 1.1rem;
}
.oddadvice-pwa.mdl-layout .employee-name {
    text-transform: capitalize;
    text-indent: 8px;
}
.oddadvice-pwa.mdl-layout .mdl-radio {
    display: block;
    text-align: left;
    margin-bottom: 10px;
}
.oddadvice-pwa.mdl-layout .mdl-radio.is-checked {
    color: #000;
}
.oddadvice-pwa.mdl-layout .mdl-radio.is-checked .mdl-radio__inner-circle {
    background-color: #000;
}
.oddadvice-pwa.mdl-layout .mdl-mini-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    font-size: 11px;
    background-color: #000;
    display: block;
    background-image: url("../images/asurion-logo-white.svg");
    background-position: calc(100% - 15px) center;
    background-size: 100px auto;
    background-repeat: no-repeat;
    z-index: 5;
}
@media (max-height: 320px) {
    main {
        margin-bottom: 0;
    }
    .oddadvice-pwa.mdl-layout .mdl-mini-footer {
        display: none;
    }
}
.oddadvice-pwa.mdl-layout .mdl-mini-footer .mdl-mini-footer__left-section .mdl-logo {
    padding-left: 25px;
    line-height: 1.4;
    margin: 0;
    background-image: url("../images/team-jackd-logo-mustard.svg");
    background-position: left center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    color: #FFD42A;
}
#unsubscribe-btn,
#profile-btn,
#inbox-btn {
    display: none;
}
.oddadvice-pwa.mdl-layout .card-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: gray;
    padding: 10px;
    min-width: initial;
    line-height: normal;
    height: auto;
}
.oddadvice-pwa.mdl-layout .mdl-card.has-media .mdl-card__title {
    height: 200px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.oddadvice-pwa.mdl-layout .mdl-card.has-media .mdl-card__title h2 {
    color: white;
    background-color: rgba(0,0,0,0.25);
    padding: 2px 5px;
}
.oddadvice-pwa.mdl-layout .mdl-card.has-media .card-close-btn {
    color: white;
    background-color: rgba(0,0,0,0.125);
}
.mdl-layout__drawer {
    z-index: 6;
}
.mdl-layout__obfuscator {
    z-index: 5;
}
.oddadvice-pwa.mdl-layout .mdl-card.about-card .mdl-card__title {
    background-image: url("../images/about-img.gif");
    background-color: #3D3C53;
    background-size: auto 100%;
    background-position: right top;
}
.profile-card .mdl-card__supporting-text {
    box-sizing: border-box;
    padding-top: 0;
    width: 100%;
}
.profile-card table {
    table-layout: fixed;
    border-collapse: collapse;
}
.profile-card input[type=text] {
    border: 0;
    font-size: 1rem;
    color: #000;
}
.oddadvice-pwa.mdl-layout .not-supported-card {
    background-color: transparent;
}
.oddadvice-pwa.mdl-layout .not-supported-card .mdl-card__supporting-text > ul {
    list-style-type: none;
    padding: 0;
}
.oddadvice-pwa.mdl-layout .not-supported-card .mdl-card__supporting-text > ul > li {
    padding-bottom: 10px;
}
.oddadvice-pwa.mdl-layout .not-supported-card .material-icons {
    vertical-align: middle;
    font-size: 20px;
    margin-right: 5px;
}
.oddadvice-pwa.mdl-layout .mdl-layout__drawer {
    border-right: 0;
}
.oddadvice-pwa.mdl-layout .mdl-layout__drawer .mdl-layout-title {
    color: #2B1100;
    background-color: #FFD42A;
    background-image: url("../images/odd-advice-icon.png");
    background-size: auto 60px;
    background-repeat: no-repeat;
    background-position: 15px center;
    text-align: right;
    padding: 15px 40px;
}
.oddadvice-pwa.mdl-layout .testimonial-card {
    color: white;
    background-image: url("../images/testimonial-bg.jpg");
    background-size: auto 235px;
    background-repeat: no-repeat;
    background-position: calc(100% + 145px) bottom;
    padding: 25px 25px 10px;
    background-color: black;
    min-height: 120px;
}
.oddadvice-pwa.mdl-layout .testimonial-card p {
    font-size: 1.2rem;
    width: 50%;
}

.oddadvice-pwa.mdl-layout .inbox-card {
    height: calc(100% - 10px);
    overflow-y: auto;
    margin: 0;
    top: 0;
}
.inbox-card .mdl-card__supporting-text {
    width: 100%;
    box-sizing: border-box;
}
.inbox-card .mdl-list {
    margin: 0;
    padding: 0;
}
.inbox-card .mdl-list .mdl-list__item {
    border-top: solid 1px #ddd;
}
.inbox-card .mdl-list .mdl-list__item:first-child {
    border-top: 0;
}
.inbox-card .mdl-list .mdl-list__item--two-line,
.inbox-card .mdl-list .mdl-list__item--two-line .mdl-list__item-primary-content {
    height: auto;
    padding: 0;
}
.oddadvice-pwa.mdl-layout .inbox-card .mdl-list button {
    height: auto;
    text-align: left;
    width: 100%;
    padding: 16px;
    font-weight: normal;
}

#subscription-form input[type=text] {
    text-transform: capitalize;
}
.numbers-container {
    padding: 1.5rem;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
a.number-button {
    margin: 10px;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    padding: 10px;
    background-color: #e8e8e8;
    border-radius: 50%;
    text-decoration: none;
    color: red;
}
a.number-button.selected {
    background-color: #FFD42A;
    color: #000;
    font-weight: bold;
}
.game-card .game-card-title:before {
    content: "" attr(data-gamename);
    text-transform: uppercase;
}
#analyze-button:not([disabled]):before {
    content: "" attr(data-activelabel);
}
#analyze-button[disabled]:before {
    content: "" attr(data-disabledlabel);
}
.back-btn.mdl-button:focus,
.back-btn.mdl-button:focus:active {
    background-color: transparent;
}
.mdl-spinner {
    width: 50px;
    height: 50px;
}